a {
	color: #42BC9B;
}

a:hover {
	color: #11151F;
}

a:visited, a:active {
}

table {
	font-size: 12px;
}

thead {
	color: #42BC9B;
}

tbody {
	color: #f1f3f2;
}

body {
	background-color: #2C2A31;
	color: #f1f3f2;
}

.header {
	background-color: #2C2A31;
	color: #f1f3f2;
}

h1, h2, h3, h4, h5, h6 {
	color: #42BC9B;
}

.header h1 {
	padding-top: 0.4em;
	color: #42BC9B;;
}